{% extends 'layout.html' %}

{%block head %}
  <link rel="stylesheet" href="static/register.css">
<style>
    /* CSS comes here */
    #video {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #photo {
        border: 1px solid black;
        width: 320px;
        height: 240px;
    }

    #canvas {
        display: none;
    }

    .camera {
        width: 340px;
        display: inline-block;
    }

    .output {
        width: 340px;
        display: inline-block;
    }

    #startbutton {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 36px;
        padding: 5px;
        background-color: #6a67ce;
        border: 1px solid rgba(255, 255, 255, 0.7);
        font-size: 14px;
        color: rgba(255, 255, 255, 1.0);
        cursor: pointer;
    }

    .contentarea {
        font-size: 16px;
        font-family: Arial;
        text-align: center;
    }
    </style>
<script>
    /* JS comes here */
    (function() {

        var width = 320; // We will scale the photo width to this
        var height = 0; // This will be computed based on the input stream

        var streaming = false;

        var video = null;
        var canvas = null;
        var photo = null;
        var startbutton = null;
        
        //Add file blob to a form and post
    function postFile(file) {
        let formdata = new FormData();
        formdata.append("image", file);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/imagedata', true);
        xhr.onload = function () {
            if (this.status === 200)
                console.log(this.response);
            else
                console.error(xhr);
        };
        xhr.send(formdata);
    }

    //Get the image from the canvas
    function sendImagefromCanvas() {
        //Convert the canvas to blob and post the file
        canvas.toBlob(postFile, 'image/jpeg');
    }

        function startup() {
            video = document.getElementById('video');
            canvas = document.getElementById('canvas');
            photo = document.getElementById('photo');
            startbutton = document.getElementById('startbutton');

            navigator.mediaDevices.getUserMedia({
                    video: true,
                    audio: false
                })
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });

            video.addEventListener('canplay', function(ev) {
                if (!streaming) {
                    height = video.videoHeight / (video.videoWidth / width);

                    if (isNaN(height)) {
                        height = width / (4 / 3);
                    }

                    video.setAttribute('width', width);
                    video.setAttribute('height', height);
                    canvas.setAttribute('width', width);
                    canvas.setAttribute('height', height);
                    streaming = true;
                }
            }, false);

            startbutton.addEventListener('click', function(ev) {
                takepicture();
                sendImagefromCanvas();
                ev.preventDefault();
            }, false);

            clearphoto();
        }


        function clearphoto() {
            var context = canvas.getContext('2d');
            context.fillStyle = "#AAA";
            context.fillRect(0, 0, canvas.width, canvas.height);

            var data = canvas.toDataURL('image/jpeg');
            photo.setAttribute('src', data);
        }

        function takepicture() {
            var context = canvas.getContext('2d');
            if (width && height) {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(video, 0, 0, width, height);

                var data = canvas.toDataURL('image/jpeg');
                photo.setAttribute('src', data);
            } else {
                clearphoto();
            }
        }

        window.addEventListener('load', startup, false);
    })();
    </script>
{% endblock %}

{% block body %}
<div class="container" align="center" id="">
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="row">
      <div class="col-sm">
        <h1>Register</h1>
      </div>
  </div>
  <div class="login-box well">
    <form method="POST" action="">
      <div class="form-group">
        {{render_field(form.name, class_="form-control", placeholder="eg. John Smith")}}
      </div>
      <div class="form-group">
        {{render_field(form.email, class_="form-control", placeholder="eg. john@gmail.com")}}
      </div>
      <div class="form-group">
        {{render_field(form.username, class_="form-control", placeholder="eg. johnsmith")}}
      </div>
      <div class="form-group">
        {{render_field(form.password, class_="form-control", placeholder="eg. john@123")}}
      </div>
      <div class="form-group">
        {{render_field(form.confirm, class_="form-control", placeholder="eg. john@123")}}
      </div>
      <div class="contentarea">
        <div class="camera">
            <video id="video">Video stream not available.</video>
        </div>
        <div><button id="startbutton">Take photo</button></div>
        <canvas id="canvas"></canvas>
        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box.">
        </div>
      </div>
      <p style="margin: 0px;"><input type="submit" class="btn btn-primary" value="Submit" style="background-color: #6a63dd"></p>
    </form>
    <p>Already have an account?
        <a href="/login" id="register">Click here</a>.
      </p>
  </div>
  <div>
  </div>
</div>
{% endblock %}
