pytz
gunicorn
blinker
boto3
botocore
certifi
chardet
click
colorama
coolname
dataclasses
decorator
dnspython
docx
email-validator
email-verifier
Flask
Flask-Mail
Flask-MySQLdb
Flask-WTF
future
idna
importlib-metadata
infinity
intervals
itsdangerous
Jinja2
jmespath
lxml
MarkupSafe
mysqlclient
numpy
passlib
Pillow
python-dateutil
python-docx
requests
s3transfer
six
typing-extensions
urllib3
validate-email
validators
Werkzeug
wincertstore
WTForms
WTForms-Components
zipp
